ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  background: var(--color-soft-violet);
  background: linear-gradient(to bottom, var(--color-soft-violet) 0%, var(--color-soft-blue) 100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.header {
  position: sticky;
  /* width: 100%; */
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--color-soft-violet);
  padding: 1rem 0;
}

.header__list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__list a {
  font-size: 1rem;
}

.header__list a:first-child {
  margin-right: 1rem;
}

.faq {
  position: relative;
  min-width: 328px;
  background: white;
  margin-top: 148px;
  border-radius: 20px;
}

.faq__desktop-log {
  display: none;
}

.logo-box {
  display: none;
}

.faq__img-logo {
  position: absolute;
  width: 241px;
  height: 241px;
  top: -140px;
  left: 43px;
}

.faq__img-shadow {
  position: absolute;
  width: 241px;
  height: 100px;
  top: 4px;
  left: 43px;
}

.container {
  max-width: 277px;
  margin-left: 27px;
  padding-bottom: 25px;
}

.faq_title {
  font-size: 31px;
  text-align: center;
  padding-top: 131px;
  margin-bottom: 33px;
}

details {
  margin-bottom: 17px;
  border-bottom: 1px solid var(--color-light-grayish-blue);
  cursor: pointer;
}

details:last-child {
  margin-bottom: 0;
}

details p {
  padding-bottom: 17px;
}

details:hover {
  color: var(--color-soft-red);
}

summary {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  list-style: none;
}

details[open] summary {
  font-weight: var(--fw-bold);
  color: var(--color-very-dark-desaturated-blue);
}

details[open] img {
  transform: rotateX(180deg);
}

details[open] p {
  color: var(--color-dark-grayish-blue);
}

footer {
  padding-bottom: 10px;
}

.list {
  min-width: 20rem;
}

.list__row {
  margin: 1rem;
}

.btn {
  padding: 0 1rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  filter: brightness(0.7);
}

.list_add {
  margin-left: 1rem;
}

.list__row {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.list_row-left {
  margin-right: 1.5rem;
  transition: 0.5s;
}

.list_row-left:hover {
  transform: scale(1.05);
}


.list__row-summary {
  width: 100%;
  font-weight: var(--fw-bold);
}

.list__row-summary textarea {
  display: inline-block;
  padding: 0.3rem;
  width: 100%;
  font-weight: var(--fw-bold);
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  resize: none;
}

.list__row-info {
  width: 100%;
  margin-bottom: 0.5rem;
}

.list__row-info textarea {
  display: inline-block;
  padding: 0.3rem;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  resize: none;
}

.list__row-buttons {
  align-self: center;

}

.row-icons {
  color: var(--color-very-dark-grayish-blue);
  transition: 0.3s;
}

.row-icons:hover {
  color: var(--color-soft-red);
}

.list_row-devider {
  width: 100%;
  height: 1px;
  background-color: var(--color-very-dark-grayish-blue);
}

.faq_container {
  width: 60vw;
}

.modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-very-dark-grayish-blue);
}

.modal__content.list__row-buttons {
  margin-bottom: 0;
}

input .text:focus {
  border: 1px solid var(--color-very-dark-grayish-blue);
}

.modal__row-summary {
  width: 100%;
  font-weight: var(--fw-bold);
}

.modal__row-summary textarea {
  display: inline-block;
  padding: 0.3rem;
  width: 100%;
  font-weight: var(--fw-bold);
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  resize: none;
}

.modal__row-info {
  width: 100%;
  margin-bottom: 0.5rem;
}

.modal__row-info textarea {
  display: inline-block;
  padding: 0.3rem;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  resize: none;
}

.modal__row-buttons {
  margin-bottom: 1rem;
}

.modal__row-buttons>.row-icons {
  margin-right: 1rem;
}

.active-link {
  text-decoration: underline;
}

.notfound {
  text-align: center;
}

/* https://bootstrap-4.ru/docs/5.2/layout/breakpoints/ */

/* Small */
@media (min-width: 576px) {}

/* Medium */
@media (min-width: 768px) {}

/*Large*/
@media (min-width: 992px) {
  body {
    padding-left: 40px;
  }

  .faq__mobile-log {
    display: none;
  }

  .faq__desktop-log {
    display: block;
  }

  .faq {
    min-width: 850px;
    min-height: 510px;
    margin-top: 130px;
    padding-left: 49%;
    padding-right: 108px;
    overflow: hidden;
    z-index: 1;
  }

  .faq__img-logo {
    position: absolute;
    width: 465px;
    height: 360px;
    top: 69px;
    left: -78px;
    z-index: 3;
  }

  .logo-box {
    display: block;
    position: relative;
  }

  .faq__img-box {
    display: block;
    position: absolute;
    top: 200px;
    left: -92px;
    z-index: 10;
  }

  .faq__img-shadow {
    position: absolute;
    width: 480px;
    height: 525px;
    top: 0px;
    left: -90px;
    z-index: 2;
  }

  .container {
    min-width: 335px;
    padding-bottom: 25px;
  }

  .faq_title {
    font-size: 31px;
    text-align: left;
    padding-top: 63px;
    margin-bottom: 35px;
  }

  summary {
    font-size: 14px;
  }

  .list {
    min-width: 35rem;
  }

}

/*Extra large*/
@media (min-width: 1200px) {}

/*Extra extra large*/
@media (min-width: 1400px) {}